*{
  all: unset;
  font-family: feather;
  font-family: "JetBrains Mono";
  color: #9B5DE0;
}

.dockbox {
  background-color: #9B5DE0;
  border: 1px solid #161616;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 4px;
}

.genicon {
  background-repeat: no-repeat;
  background-size: 20px;
  min-height: 20px;
  min-width: 20px;
}
